export(
descendants.cutAtStem,
descendants.cutAtStem.idx,
descendants.cutAtNode,
descendants.cutAtNode.idx,
calculate.model.fit,
calculate.model.fit.summary,
calculate.model.weights,
get.max.model.limit,
get.num.tips,
get.threshold,
make.cache.medusa,
make.lik.medusa.part,
medusa.ml.fit.partition,
medusa.ml.initial,
medusa.ml.prefit,
medusa.ml.update,
medusa.split,
plotModelFit,
plotNN,
plotPrettyTree,
prune.tree.merge.data,
runMultiMEDUSA,
runTurboMEDUSA,
summarizeTurboMEDUSA
)