import(ape)
import(colorspace)
import(shape)
importFrom(geiger,treedata)

export(getBD)
export(plotPrettyTree)
export(MEDUSA)
export(medusaSummary)
export(fitSisters)
export(print.medusa)
export(print.multiMedusa)
export(print.sisterFit)
export(multiMedusaSummary)
export(plotMultiMedusa)
export(print.multiMedusaSummary)

export(writeFigtree)
