import(ape)
import(colorspace)
import(shape)

export(getBD)
export(plotPrettyTree)
export(MEDUSA)
export(medusaSummary)
export(fitSisters)
#export(print.medusa)
S3method(print, medusa)
#export(print.multiMedusa)
S3method(print, multiMedusa)
#export(print.sisterFit)
S3method(print, sisterFit)
export(multiMedusaSummary)
export(plotMultiMedusa)
#export(print.multiMedusaSummary)
S3method(print, multiMedusaSummary)
export(writeFigtree)

importFrom("grDevices", "dev.new", "rgb")
importFrom("graphics", "axis", "contour", "hist", "legend", "lines",
             "mtext", "points", "polygon", "rug", "segments", "title")
importFrom("stats", "density", "median", "optim", "optimize", "sd",
             "uniroot", "weighted.mean")
importFrom("utils", "installed.packages", "packageVersion", "tail")
importFrom("stats", "reorder")
